* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f1f5f8;
}
.section {
  padding: 0.8rem;
}
h4 {
  font-size: 1rem;
}
/* main title */
.main-title {
  font-size: 1.5rem;
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 8vh;
  letter-spacing: 2px;
  margin-bottom: 6vh;
  text-transform: capitalize;
}
/* underline of main title */
.underline {
  width: 100px;
  height: 5px;
  background-color: #2caeba;
  margin: auto;
  margin-top: 1vh;
}
/* Container of Buttons and main content */
.article-container {
  width: 60%;
  display: grid;
  grid-template-columns: 200px 700px;
  margin: auto;
  color: #324d67;
  line-height: 1.5;
  font-size: 0.875rem;
}
/* Button container */
.btn-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 180px;
}
/* buttons class */
.btn {
  width: 90px;
  margin: auto;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-left: 15px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  color: #2caeba;
  box-shadow: -2px 0 #2caeba;
}
.left-border {
  box-shadow: -2px 0 #2caeba;
  color: #2caeba;
}

/* Job Description heading */
.main-content h1 {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 2vh;
}

/* Company name heading */
.main-content h4 {
  background-color: rgb(227, 226, 226);
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
  padding: 9px 14px 9px 14px;
  text-transform: uppercase;
}
/* time period heading */
.main-content h3 {
  font-size: 1.1rem;
  margin-top: 2vh;
}
.job-desc {
  margin: 2vh;
}
.para-container {
  margin-top: 2vh;
  display: grid;
  grid-template-columns: 40px 500px;
}
@media only screen and (min-width: 540px) and (max-width: 760px) {
  h1,
  h4 {
    font-size: 1rem !important;
  }

  .main-content h4 {
    padding: 3px;
  }
  .section {
    width: 100%;
  }
  .btn {
    font-size: 1rem;
  }
  .para-container {
    width: 70%;
    grid-template-columns: 40px 300px;
  }
  .article-container {
    font-size: 0.7rem;
    grid-template-columns: 140px 500px;
    width: 100%;
  }
}
@media only screen and (min-width: 761px) and (max-width: 2560px) {
  .section {
    width: 100%;
  }
  .article-container {
    grid-template-columns: 300px 700px;
    width: 50%;
    margin: auto;
  }
  .main-title h1 {
    font-size: 1.5rem !important;
  }
}
@media only screen and (min-width: 280px) and (max-width: 530px) {
  h1,
  h4 {
    font-size: 0.8rem !important;
  }
  .main-title {
    width: 100%;
  }
  .main-title h1 {
    font-size: 1.5rem !important;
  }
  .main-content {
    margin: auto;
  }
  .main-content h4 {
    padding: 3px;
  }
  .main-content h3 {
    font-size: 0.8rem;
  }
  .section {
    width: 100%;
  }
  .btn {
    font-size: 0.7rem;
  }
  .para-container {
    width: 70%;
    grid-template-columns: 40px 250px;
  }
  .btn-container {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 3vh;
  }
  .btn {
    padding-top: 2vh;
  }
  .article-container {
    font-size: 0.6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
